// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#letters {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#letters li {
  list-style: none;
  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: #4598DB;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#container {
  display: flex;
  padding-top: 15px;
}
